---
http_interactions:
- request:
    method: get
    uri: http://private-37dacc-cfcalendar.apiary-mock.com/mentors/1/agenda
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apiary-Ratelimit-Limit:
      - '120'
      X-Apiary-Ratelimit-Remaining:
      - '119'
      X-Apiary-Transaction-Id:
      - 5fec190c392a22008937ec35
    body:
      encoding: UTF-8
      string: |-
        {
            "mentor": {
                "name": "Max Mustermann",
                "time_zone": "-03:00"
            },
            "calendar": [
                {
                    "date_time": "2020-10-24 17:10:09 +0200"
                },
                {
                 "date_time": "2020-10-25 13:11:55 +0100"
               },
               {
                 "date_time": "2020-10-26 23:43:20 +0100"
               }
            ]
        }
  recorded_at: Wed, 30 Dec 2020 06:07:08 GMT
recorded_with: VCR 6.0.0
